<!-- templates/index.html -->  
<html>  
  <head>
    <title>Flask Shop</title>
  </head>
  <body>
    <h1>{{message}}</h1>
    <h2>chef</h2>
      <form action = "http://localhost:5000/xyz" method = "POST">
      <p>x <input type = "text" name = "x" /></p>
      <p>y <input type = "text" name = "y" /></p>
      <select name="z">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <p><input type = "submit" value = "submit" /></p>
  </form>


  </body>
</html>  