<!-- templates/index.html -->  
<html>  
  <head>
    <title>Flask Shop</title>
  </head>
  <body>
    <ul class="navigation">
      <li><a  href="/table">Search</a></li>
      <li><a href="#news">Predefined</a></li>

    </ul>
    <h1>{{message}}</h1>
    <h2>chef</h2>
      <form action = "http://localhost:5000/xyz" method = "POST">
      <p>x <input type = "text" name = "x" /></p>
      <p>y <input type = "text" name = "y" /></p>
      <select name="z">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <p><input type = "submit" value = "submit" /></p>
  </form>

$query  = "SELECT * FROM Bedding";

<code><?php echo $query; ?></code>

<pre><?php echo $query; ?></pre>

  </body>
  <style >
    ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover  {
  background-color: #111;
}
  </style>
</html>  